# Node modules (both frontend & backend)
Frontend/node_modules/
Backend/node_modules/

# Build folders
Frontend/dist/
Frontend/build/
Backend/dist/
/.agents
skills-lock.json

# Environment files
.env
Frontend/.env
Backend/.env

# Logs
*.log
backend/logs/

# OS files
.DS_Store
Thumbs.db
